* {
    box-sizing: border-box;
}

body {
    text-align: center;
    margin: auto;
}


header {
    
    margin-bottom: 100px;
    position: relative;
    display: block;
    margin-right: 15%;
    margin-left: 15%;
    
}

#headerImg{
float: right;
/* top:20%; */
}

#logo img,h1{
    /* position: absolute;
    left: 15%;
    bottom: 5%; */
    float: left;
}
#logo p {
    margin-right: 72em;
    font-size: xx-small;
}


#title{
position: relative;
margin-top: 12em;
margin-right: 10em;
margin: auto;
text-align: start;
margin-left: 16%;
}

#mainImg{
    height: fit-content;
    width: fit-content;
    margin: auto;
}

#printer{
    position: absolute;
    right: 210px;
    top: 50px;
}

.para{
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
      margin-top: 40px; 
     margin-bottom: 40px;
}


#checkForm{
  background-image: url("../img/list-bg.png");
  min-height: 175px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
  position: relative;


}

label {
    display: block;
    text-align: justify;
    margin-left: 10%;

}

#leftSide{
    width: 50%;
    position: absolute;
    left: 10%;
   
}

#rightSide{
    
    width: 50%;
    position: absolute;
    right: 10%;

}

footer {
    margin-left: 15%;
    margin-right: 0;
    position: relative;
}

#vPara {
    margin-right: 42.5em;
    font-weight: bolder;
}

#vanessa{
    margin-bottom: 100px;
}

#vanessa img{
position: absolute;
left: 5%;
}

#text{
    position: absolute;
    top:10%;
    left: 15%;
}

#vanessa button{
    position:absolute;
    right: 15em;
    background-color: chocolate;
    color: whitesmoke;
    height: 2em;
}

#copyright{
margin-top: 100px;
}

