* {
    box-sizing: border-box;
}

body {
    text-align: center;
}


header {
    
    margin-bottom: 150px;
    position: relative;
    display: block;
    margin-right: 15%;
    margin-left: 15%;
    
}

#headerImg{
position: absolute;
right: 5%;
bottom: 5%;
/* top:20%; */
}

#logo{
    position: absolute;
    left: 15%;
    bottom: 5%;
}


#title{
position: relative;
margin-top: 200px;
}


#printer{
    position: absolute;
    right: 210px;
    top: 50px;
}

.para{
    text-align: justify;
    margin-left: 15%;
    margin-right: 15%;
      margin-top: 40px; 
     margin-bottom: 40px;
}

#title{
    text-align: start;
    margin-left: 16%;
}

#checkForm{
  background-image: url("../img/list-bg.png");
  min-height: 175px;
  margin-left: 15%;
  margin-right: 15%;
  margin-bottom: 30px;
  position: relative;


}

label {
    display: block;
    text-align: justify;
    margin-left: 10%;

}

#leftSide{
    width: 50%;
    position: absolute;
    left: 10%;
   
}

#rightSide{
    
    width: 50%;
    position: absolute;
    right: 10%;

}

footer {
    margin-left: 15%;
    margin-right: 0;
    position: relative;
}

#vanessa{
    margin-bottom: 100px;
}

#vanessa img{
position: absolute;
left: 5%;
}

#text{
    position: absolute;
    top:10%;
    left: 15%;
}

#vanessa button{
    position:absolute;
    right: 15%;
    background-color: chocolate;
    color: whitesmoke;
    height: 30px;
}

#copyright{
margin-top: 100px;
}

